* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
  background: linear-gradient(to left, #ece9e6, #ffffff);
}
a {
  text-decoration: none;
  color: black;
}
